.idea
*.iml

# Frontend
/frontend/node_modules
/frontend/dist
./tsconfig.node.tsbuildinfo
./tsconfig.app.tsbuildinfo

# Backend
/backend/mvnw.cmd
/backend/mvnw
/backend/.mvn
/backend/target
/backend/src/main/resources/static

