.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.w-45 {
    width: 45%;
}

.w-80 {
    width: 80%;
}

.w-100 {
    width: 100%;
}

.min-w-300 {
    min-width: 300px;
}

.min-h-150 {
    min-height: 150px;
}

.h-80 {
    height: 80vh;
}

.pl-10 {
    padding-left: 10%;
}

.pr-10 {
    padding-right: 10%;
}

.m-10 {
    margin: 10px;
}

.mb-5vh {
    margin-bottom: 5vh;
}

.bordered {
    border: 1px solid black;
    border-radius: 10px;
}

.float-br {
    float: right;
}

.no-dot {
    list-style-type: none;
}